
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h2 {
    margin-top: 0;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}


.search-container {
    text-align: center;
    padding: 20px 0;
}

.search-box {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.promotion {
    background-color: #FFD700;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.promotion h2 {
    margin-top: 0;
}


.contact {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.contact p {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.contact ul {
    list-style-type: none;
    padding: 0;
}

.contact ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact ul li:last-child {
    margin-bottom: 0;
}

.contact ul li:before {
    content: "\2022";
    color: #888;
    margin-right: 10px;
}

.price {
    font-size: 18px;
    margin-bottom: 10px;
}

.old-price {
    text-decoration: line-through; 
    color: #999; 
}

.new-price {
    color: #f00; 
}
